.env
**/node_modules/
packages/js/tailwind-browser/dist/index.js
**/_debug_*
**/__pycache__/
.cursorrules
apps/Docs/dist/*
apps/Docs/index.md
apps/About/dist/*
**/test-results/
**/.devlocal.json
packages/python/**/dist/*
packages/js/**/dist/*
.DS_Store