[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sentence-transformers = "*"
fastapi = {extras = ["standard"] }
tiktoken = "*"
litellm = "*"
google-cloud-aiplatform = {extras = ["tokenization"] }
msgpack = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.12"
