@tailwind base;
@tailwind components;
@tailwind utilities;

.mock-ironcalc-button {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.mock-ironcalc-button svg {
  width: 16px;
  height: 16px;
}

.mock-ironcalc-button:hover {
  outline: 1px solid #eeeeee;
}
